{% extends 'teacher_page/gv_base.html' %}
{% load static %}

{% block title %}Tạo bài giảng{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/create_lecture.css">
{% endblock %}

{% block content %}
<div class="container">
    <h2>Tạo bài giảng</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Lưu bài giảng</button>
    </form>
    <a href="{% url 'lecture_list' %}">Trở lại Menu bài giảng</a>
</div>
{% endblock %}
